    <h1>HOME PAGE</h1>
    <h3>Welcome to my amazing website</h3>
    <h1>Great</h1>
    <h4>Here is my calculation {{mathsTime 24}}</h4>
    {{!-- here is my helper shouting, it takes cohort as an argument --}}
    <h2>Hey there, {{shouting cohort}}</h2>
    <p>Our teachers are:</p>
    <ul>
        {{#teachers}}
        <li>{{name}}</li>
        {{/teachers}}
    </ul>
    {{>button}}