{{#data}}
<div class="tile">
    <a href="/{{directory}}">
        <div>
            <img src="{{directory}}/screenshot.jpg" />
        </div>
        <div class="caption">
            {{title}}
        </div>
    </a>
</div>
{{/data}}


