body {
    margin: 0;
    box-sizing: border-box;
}

.kitty-container {
    height: 600px;
    overflow: hidden;
    position: relative;
}

.kitty-container img {
    position: absolute;
    /* left: 0;
    top: 0; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* It determines how the element fit into container 
    (usually used for images and videos) */
    transform: translateX(100%);

    /* We do not se transition here, because we do 
    want transition back to queue immediately */
}

.kitty-container img.onscreen {
    transform: translateX(0);
    transition: transform 3s;
}

.kitty-container img.offscreen-left {
    transform: translateX(-100%);
    transition: transform 3s;
}
