* {
    margin: 0;
}

#board {
    display: flex;
}

.player1 {
    background-color: red;
}

.player2 {
    background-color: yellow;
}
.slot {
    /* background-color: blue; */
    height: 100px;
    width: 100px;
    overflow: hidden;
}

.hole {
    /* background-color: antiquewhite; */
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 40px solid blue;
    transform: translate(-30px, -30px);
}
