* {
    box-sizing: border-box;
    position: absolute;
}

#one {
    border: 6px black solid;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    left: 200px;
}

#two {
    border-left: 6px black solid;
    height: 252px;
    left: 300px;
    top: 200px;
}

#three {
    border-top: 6px black solid;
    width: 200px;
    display: inline-block;
    transform: rotate(155deg);
    left: 293px;
    top: 210px;
}

#four {
    border-top: 6px black solid;
    width: 200px;
    display: inline-block;
    transform: rotate(205deg);
    left: 111px;
    top: 210px;
}

#five {
    border-top: 6px black solid;
    width: 200px;
    display: inline-block;
    transform: rotate(135deg);
    left: 131px;
    top: 520px;
}

#six {
    border-top: 6px black solid;
    width: 200px;
    display: inline-block;
    transform: rotate(225deg);
    left: 273px;
    top: 520px;
}
